{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    {{ partial "article/progress" . }}

    <article  id="articleContent" class="post-content" style="position:relative;">
        {{ .Content }}
        <div id="hyvor-talk-view"></div>
    </article>
    
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 1512; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>

    {{ partial "article/next.html" . }}
</section>

{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
